In [6]:
import pandas as pd

df_full = pd.read_csv("/home/ubuntu/cur/program/Analyisis_incineration/EU/env_wasmun_linear_2_0.csv") # csv読み込み、変数「df_full」に代入。
df_full.head() # 最初の五行を表示。

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,wst_oper,Waste management operations,unit,Unit of measure,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:ENV_WASMUN(1.0),Municipal waste by waste management operations,A,Annual,DSP_I,Disposal - incineration (D10),KG_HAB,Kilograms per capita,AL,Albania,2013,NaN,29.0,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:ENV_WASMUN(1.0),Municipal waste by waste management operations,A,Annual,DSP_I,Disposal - incineration (D10),KG_HAB,Kilograms per capita,AL,Albania,2014,NaN,13.0,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:ENV_WASMUN(1.0),Municipal waste by waste management operations,A,Annual,DSP_I,Disposal - incineration (D10),KG_HAB,Kilograms per capita,AL,Albania,2015,NaN,12.0,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:ENV_WASMUN(1.0),Municipal waste by waste management operations,A,Annual,DSP_I,Disposal - incineration (D10),KG_HAB,Kilograms per capita,AL,Albania,2016,NaN,14.0,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:ENV_WASMUN(1.0),Municipal waste by waste management operations,A,Annual,DSP_I,Disposal - incineration (D10),KG_HAB,Kilograms per capita,AL,Albania,2017,NaN,7.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 「Unit of measure」が"Kilograms per capita"のみ抽出
df_kpc = df_full[df_full["Unit of measure"] == "Kilograms per capita"]

# データフレームのワイド化
df_wide = df_kpc.pivot_table(
    index=["Geopolitical entity (reporting)", "TIME_PERIOD"],
    columns=["Waste management operations"],
    values="OBS_VALUE"
)

# 結果の表示
df_wide.head()

Waste management operations                  Disposal - incineration (D10)  \
Geopolitical entity (reporting) TIME_PERIOD
Albania                         2013                                  29.0
                                2014                                  13.0
                                2015                                  12.0
                                2016                                  14.0
                                2017                                   7.0

Waste management operations                  Disposal - incineration (D10) and recovery - energy recovery (R1)  \
Geopolitical entity (reporting) TIME_PERIOD
Albania                         2013                                                      32.0
                                2014                                                      15.0
                                2015                                                      20.0
                                2016                                                      21.0
                                2017                                                      15.0

Waste management operations                  Disposal - landfill and other (D1-D7, D12)  \
Geopolitical entity (reporting) TIME_PERIOD
Albania                         2013                                              164.0
                                2014                                              270.0
                                2015                                              337.0
                                2016                                              353.0
                                2017                                              346.0

Waste management operations                  Preparing for reuse  \
Geopolitical entity (reporting) TIME_PERIOD
Albania                         2013                         NaN
                                2014                         NaN
                                2015                         NaN
                                2016                         NaN
                                2017                         NaN

Waste management operations                  Recovery - energy recovery (R1)  \
Geopolitical entity (reporting) TIME_PERIOD
Albania                         2013                                     3.0
                                2014                                     2.0
                                2015                                     8.0
                                2016                                     7.0
                                2017                                     8.0

Waste management operations                  Recycling  \
Geopolitical entity (reporting) TIME_PERIOD
Albania                         2013               NaN
                                2014               NaN
                                2015               NaN
                                2016               NaN
                                2017               NaN

Waste management operations                  Recycling - composting and digestion  \
Geopolitical entity (reporting) TIME_PERIOD
Albania                         2013                                          NaN
                                2014                                          NaN
                                2015                                          NaN
                                2016                                          NaN
                                2017                                          NaN

Waste management operations                  Recycling - material  \
Geopolitical entity (reporting) TIME_PERIOD
Albania                         2013                         78.0
                                2014                         92.0
                                2015                         89.0
                                2016                         78.0
                                2017                         76.0

Waste management operations                  Waste generated  Waste treatment
Geopolitical entity (reporting) TIME_PERIOD
Albania                         2013                   325.0            325.0
                                2014                   425.0            425.0
                                2015                   491.0            491.0
                                2016                   452.0            452.0
                                2017                   436.0            436.0

In [ ]:
# 列名を結合して単一レベルにする
df_wide.columns = ['_'.join([str(col)]).strip() for col in df_wide.columns.values]

# インデックスを列に戻す
df_wide = df_wide.reset_index()

# 結果の表示
print("After processing:")
print("Column names:")
for i, col in enumerate(df_wide.columns):
    print(f"  {i}: {col}")
print()
print("Shape:", df_wide.shape)
df_wide.head()

After processing:
Column names:
  0: Geopolitical entity (reporting)
  1: TIME_PERIOD
  2: Disposal - incineration (D10)
  3: Disposal - incineration (D10) and recovery - energy recovery (R1)
  4: Disposal - landfill and other (D1-D7, D12)
  5: Preparing for reuse
  6: Recovery - energy recovery (R1)
  7: Recycling
  8: Recycling - composting and digestion
  9: Recycling - material
  10: Waste generated
  11: Waste treatment

Shape: (983, 12)

,Geopolitical entity (reporting),TIME_PERIOD,Disposal - incineration (D10),Disposal - incineration (D10) and recovery - energy recovery (R1),"Disposal - landfill and other (D1-D7, D12)",Preparing for reuse,Recovery - energy recovery (R1),Recycling,Recycling - composting and digestion,Recycling - material,Waste generated,Waste treatment
0,Albania,2013,29.0,32.0,164.0,NaN,3.0,NaN,NaN,78.0,325.0,325.0
1,Albania,2014,13.0,15.0,270.0,NaN,2.0,NaN,NaN,92.0,425.0,425.0
2,Albania,2015,12.0,20.0,337.0,NaN,8.0,NaN,NaN,89.0,491.0,491.0
3,Albania,2016,14.0,21.0,353.0,NaN,7.0,NaN,NaN,78.0,452.0,452.0
4,Albania,2017,7.0,15.0,346.0,NaN,8.0,NaN,NaN,76.0,436.0,436.0

In [23]:
df_wide.describe()

,TIME_PERIOD,Disposal - incineration (D10),Disposal - incineration (D10) and recovery - energy recovery (R1),"Disposal - landfill and other (D1-D7, D12)",Preparing for reuse,Recovery - energy recovery (R1),Recycling,Recycling - composting and digestion,Recycling - material,Waste generated,Waste treatment
count,983.000000,940.000000,923.000000,972.000000,104.000000,933.000000,908.000000,930.000000,928.000000,980.000000,975.000000
mean,2009.421160,9.221277,96.501625,231.296296,1.038462,89.012862,150.198238,51.006452,96.796336,490.732653,468.991795
std,8.241989,32.183711,114.128228,155.612165,1.879491,112.980409,117.853937,53.018346,73.753800,129.567971,137.082920
min,1995.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,178.000000,140.000000
25%,2002.000000,0.000000,0.000000,98.750000,0.000000,0.000000,46.000000,6.000000,33.000000,405.000000,380.500000
50%,2010.000000,0.000000,44.000000,235.500000,0.000000,37.000000,133.000000,34.000000,91.000000,480.500000,462.000000
75%,2017.000000,1.000000,173.000000,341.000000,2.000000,163.000000,230.000000,84.000000,140.000000,585.000000,551.000000
max,2023.000000,247.000000,474.000000,676.000000,9.000000,474.000000,521.000000,253.000000,343.000000,862.000000,862.000000

In [ ]:
# df_wide[df_wide["Waste generated"] == df_wide["Waste generated"].min()] # 結果: コソボ, 2015年
df_wide[df_wide["Geopolitical entity (reporting)"] == "Kosovo*"]

,Geopolitical entity (reporting),TIME_PERIOD,Disposal - incineration (D10),Disposal - incineration (D10) and recovery - energy recovery (R1),"Disposal - landfill and other (D1-D7, D12)",Preparing for reuse,Recovery - energy recovery (R1),Recycling,Recycling - composting and digestion,Recycling - material,Waste generated,Waste treatment
497,Kosovo*,2015,NaN,NaN,177.0,NaN,NaN,NaN,NaN,NaN,178.0,NaN
498,Kosovo*,2016,NaN,NaN,222.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,Kosovo*,2017,NaN,NaN,228.0,NaN,NaN,NaN,NaN,NaN,229.0,229.0
500,Kosovo*,2018,NaN,NaN,226.0,NaN,NaN,NaN,NaN,NaN,226.0,226.0
501,Kosovo*,2019,NaN,NaN,252.0,NaN,NaN,NaN,NaN,NaN,252.0,252.0
502,Kosovo*,2020,0.0,0.0,255.0,0.0,0.0,0.0,0.0,0.0,255.0,255.0
503,Kosovo*,2021,0.0,0.0,264.0,0.0,0.0,7.0,0.0,7.0,271.0,271.0
504,Kosovo*,2022,0.0,0.0,275.0,NaN,0.0,7.0,0.0,7.0,283.0,283.0